header{
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}
.logo{
    /* border: 2px solid black; */
    height: 50px;
    width: 140px;
    background: url(../images/logo.png) no-repeat center;
    margin: 20px;
}